.result,
.timer {
	padding: 1rem;
	margin: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	width: 400px;
	text-align: center;
}
.timer {
	background-color: wheat;
	color: blue;
}
.result {
	background-color: #fafafa;
	h2 {
		color: black;
	}
	color: rgb(206, 123, 0);
}
