h1 {
    color: #27aedb;
    text-align: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

.temp,
.title,
button,
input {
	padding: 0.5rem;
	margin: 0.5rem;
}

.title {
	font-weight: bold;
}

.temp {
	color: #ff3333;
}