$my-palette: (
	50: hsl(250, 50%, 250%),
	100: hsl(250, 50%, 80%),
	200: hsl(250, 50%, 70%),
	300: hsl(250, 50%, 60%),
	400: hsl(250, 50%, 50%),
	500: hsl(250, 50%, 40%),
	600: hsl(250, 50%, 30%),
	700: hsl(250, 50%, 20%),
	800: hsl(250, 50%, 10%),
	900: hsl(250, 50%, 0%),
	A100: hsl(250, 100%, 70%),
	A200: hsl(250, 100%, 60%),
	A400: hsl(250, 100%, 50%),
	A700: hsl(250, 100%, 40%),
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	),
);
